.silver{
    background-color: silver;
}
#box{
    background-color: blue;
}
/* .heading {
    color: red;
    
} */

h1 , h2 , h3 {  /* multiple select*/
    collor: red ;
}

.button1{
    background-color: green;
}