body{
    background-color: rgb(160, 160, 81) ;
}
.div1{
    height: 60px;
    width: 100px;
    background-color:rgba(255, 0, 0, 0.481);
    padding:10px;
    /* border-width:5px;
    border-style: solid ;
    border-color:blue; */
    border:5px solid blue;
    margin:10px;
}